body {
    font-family: "Open Sans";
}

.banner {
    position: relative;
}

.ban-img {
    width: 100%;
    height: 78vh;
}

.logo {
    width: 85px;
}

.banner-cont {
    position: absolute;
    top: 45px;
    width: 100%;
    text-align: center;
}

span {
    color: #fff;
    display: block;
    margin-top: 15px;
    letter-spacing: 0.2px;
}

h1 {
    color: #fff;
    font-weight: 600;
    font-size: 38px;
    margin-top: 104px;
    letter-spacing: 0.4px;
}

.down_arrow {
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -38px;
}

section {
    width: 100%;
    padding: 60px 0;
    text-align: center;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
}

.tab_img {
    max-width: 86%;
    margin-top: 30px;
}

.const_area {
    background: #f4f4f4;
    padding-top: 50px;
}

button {
    background: #fed850;
    color: #000;
    border: none;
    outline: none;
    padding: 6px 16px;
    font-weight: 600;
    margin: 9px 0;
}

h3 {
    font-size: 29px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 30px;
}

.const_img {
    width: 70%;
}

h4 {
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 22px;
    color: #303030;
    margin: 26px 0;
}

p {
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 600;
    color: #525252;
    line-height: 26px;
}

.footer_img {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 0;
}




@media (max-width: 767px) {

    .ban-img {
        height: 57vh;
    }
    .logo {
        width: 70px;
    }
    span {
        margin-top: 6px;
    }
    .banner-cont {
        top: 28px;
    }
    h1 {
        font-size: 34px;
        margin-top: 75px;
        letter-spacing: 0.2px;
    }
    h2 {
        font-size: 30px;
    }

    section {
        padding: 45px 0;
    }
    .tab_img {
        margin-top: 15px;
        max-width: 90%;
    }
    .const_area {
        padding-top: 34px;
    }
    h3 {
        font-size: 27px;
        margin-bottom: 22px;
    }
    .const_img {
        width: 100%;
    }
    h4 {
        font-size: 20px;
        margin: 22px 0;
    }
    p {
        line-height: 22px;
    }
    .footer_img {
        margin-top: 35px;
    }
}

@media(min-width:768px) and (max-width:1205px) {

    .ban-img {
        height: 45vh;
    }
    .const_area {
        padding-top: 40px;
    }
    p {
        font-size: 18px;
    }
    .footer_img {
        margin-top: 40px;
    }
}

@media(max-width:320px) {
    .ban-img {
        height: 60vh;
    }
    h1 {
        font-size: 30px;
        margin-top: 45px;
    }
    h2{font-size: 25px;}
    p{font-size: 14px;}
}